.app-ui {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: var(--content-width);

    .views {
        height: 100%;


        .view {
            display: none;

            &[data-current="true"] {
                display: block;
            }

            height: 100%;

            .user-ui {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
        }
    }

    .tabs {
        display: flex;
        gap: var(--spacing);

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            gap: var(--spacing);
            padding-left: 0;
            padding-right: 0;

            svg {
                width: 1.5rem;
                height: 1.5rem;
            }

            &:not([data-selected="true"]) {
                background-color: var(--bg3);
                color: var(--fg2);
            }

        }
    }
}

@media (max-width: 800px) {
    .title {
        display: none;
    }

    .tabs button svg {
        width: 2rem;
        height: 2rem;
    }
}

main:has(.app-ui) {
    height: 100%;
}