.app-ui {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: var(--content-width);


    .views {
        display: flex;
        height: 100%;
        flex: 1;
        overflow: auto;

        .view {
            display: none;
            height: 100%;
            width: 100%;

            &[data-current="true"] {
                display: block;
            }


            .user-ui {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            .search-ui {
                height: 100%;
                padding: var(--spacing);
                padding-top: var(--spacing-2);
                display: flex;
                flex-direction: column;

                form {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    padding-bottom: var(--spacing);

                    .field {
                        flex: 1;

                        input {
                            width: 100%;
                        }
                    }

                    button {
                        padding: 4px var(--spacing);
                    }

                }

                .smart-search {}

                ul {
                    padding: 0;
                    list-style: none;

                    p,
                    h3 {
                        color: var(--fg3);
                    }
                }

                .results {
                    height: 100%;
                    overflow: auto;
                }
            }
        }
    }

    .tabs {
        display: flex;
        gap: var(--spacing);

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            gap: var(--spacing);
            padding-left: 0;
            padding-right: 0;

            svg {
                width: 1.5rem;
                height: 1.5rem;
            }

            &:not([data-selected="true"]) {
                background-color: var(--bg3);
                color: var(--fg2);
            }

        }
    }
}

@media (max-width: 800px) {
    .title {
        display: none;
    }

    .tabs button svg {
        width: 1.8rem !important;
        height: 1.8rem !important;
    }
}

main:has(.app-ui) {
    height: 100%;
}