.app-ui {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: var(--content-width);
    gap: 3px;
    padding-top: var(--spacing);


    .views {
        display: flex;
        height: 100%;
        flex: 1;
        overflow: auto;

        .view {
            display: none;
            height: 100%;
            width: 100%;

            &[data-current="true"] {
                display: block;
            }


            .user-ui {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            .search-ui {
                height: 100%;
                padding-top: var(--spacing);
                display: flex;
                flex-direction: column;

                form {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    padding: var(--spacing-05);
                    padding-bottom: var(--spacing);

                    .field {
                        flex: 1;

                        input {
                            width: 100%;
                        }
                    }

                    button {
                        padding: 4px var(--spacing);
                    }

                }

                ul {
                    padding: 0;
                    list-style: none;

                    p,
                    h3 {
                        opacity: 0.7;
                    }
                }

                .results {
                    height: 100%;
                    overflow: auto;
                }
            }
        }
    }



    .tabs {
        display: flex;
        gap: var(--spacing);

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            gap: var(--spacing);
            padding-left: 0;
            padding-right: 0;
            background-color: var(--bg3);
            color: var(--fg2);
            border: 2px solid var(--primary);

            svg {
                width: 1.5rem;
                height: 1.5rem;
            }



            &:disabled {
                scale: 0.9;
                border-color: transparent;
            }

            &:hover {
                background-color: var(--bg4);
            }


        }


    }

    .tabs:not(:has(button:disabled)) {

        button:nth-child(3) {
            background-color: #d49139;
            color: #000000;

            &[data-selected="true"] {
                background-color: var(--accent);
                color: #d49139;
            }

        }

        button[data-selected="true"] {
            background-color: var(--accent);
            color: var(--on-accent);
        }

        button {
            border-color: transparent;
        }
    }
}

@media (max-width: 800px) {
    .app-ui {
        flex-direction: column;
    }

    .title {
        display: none;
    }

    .tabs button svg {
        width: 1.8rem !important;
        height: 1.8rem !important;
    }

    .toolbar {
        button.icon span {
            display: none;
        }
    }
}

main:has(.app-ui) {
    height: 100%;
}



/* Words UI */

.words-ui {
    display: flex;
    flex-direction: column;
    height: 100%;

    form {
        display: flex;
        flex-direction: row;
        padding-top: var(--spacing);

        [name="word"] {
            flex: 1;
            width: 100px;
        }

        [name="meaning"] {
            width: 100px;
            flex: 0.2;

            &:focus {
                flex: 5;
            }
        }

        button {
            padding: 0 var(--spacing);
            display: flex;
            align-items: center;
        }
    }


    .toolbar {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing);
        margin-top: var(--spacing);

        & button.icon {
            background-color: transparent;
            color: var(--fg3);
            padding: var(--spacing);
            display: flex;
            align-items: center;
            gap: 4px;

            &:hover:not(:disabled) {
                color: var(--fg2);
            }

            &:first-child {
                padding-left: 0;
                padding-right: 0;

                &:hover,
                & {
                    color: var(--fg4);
                }

                &[data-selected="true"] {
                    color: var(--accent);
                }
            }
        }
    }

    .words {
        overflow-y: auto;
        height: 100%;
        max-height: 100%;

        ul {
            padding: 0;
            margin: 0;

            li {
                align-items: center;
                margin: var(--spacing) 0;
                font-size: 1.1rem;
                list-style: none;
                display: flex;
                gap: var(--spacing);

                .word {
                    width: 150px;
                    border-radius: var(--radius);
                    border: 1px solid color-mix(in srgb, var(--fg1), transparent 70%);
                    cursor: pointer;
                    padding: 0 var(--spacing);

                    &::after {
                        /* Prevents small box when empty content */
                        content: ".";
                        opacity: 0;
                        pointer-events: none;
                    }
                }

                .meaning {
                    cursor: pointer;
                    border: 1px solid color-mix(in srgb, var(--fg1), transparent 70%);
                    border-radius: var(--radius);
                    padding: 0 var(--spacing);
                    flex: 1;

                    &::after {
                        content: ".";
                        opacity: 0;
                        pointer-events: none;
                    }
                }

                [data-hide="true"] {
                    opacity: 0;
                    display: block;
                }

                .icon {
                    background-color: transparent;
                    color: var(--fg4);
                    padding: 0;
                    display: flex;
                    align-items: center;
                }

                &[data-selected="true"] {
                    .icon {
                        color: var(--accent);
                    }
                }
            }
        }
    }
}


/* QUick UI */


.quick-ui {
    background-color: var(--bg3);
    overflow-x: auto;
    white-space: nowrap;
    padding: var(--spacing-05) var(--spacing);
    border-radius: var(--radius);
}