.app-ui {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: var(--content-width);
    gap: 3px;


    .views {
        display: flex;
        height: 100%;
        flex: 1;
        overflow: auto;

        .view {
            display: none;
            height: 100%;
            width: 100%;

            &[data-current="true"] {
                display: block;
            }


            .user-ui {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            .search-ui {
                height: 100%;
                padding: var(--spacing);
                padding-top: var(--spacing-2);
                display: flex;
                flex-direction: column;

                form {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    padding-bottom: var(--spacing);

                    .field {
                        flex: 1;

                        input {
                            width: 100%;
                        }
                    }

                    button {
                        padding: 4px var(--spacing);
                    }

                }

                ul {
                    padding: 0;
                    list-style: none;

                    p,
                    h3 {
                        opacity: 0.7;
                    }
                }

                .results {
                    height: 100%;
                    overflow: auto;
                }
            }
        }
    }



    .tabs {
        display: flex;
        gap: var(--spacing);

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            gap: var(--spacing);
            padding-left: 0;
            padding-right: 0;
            background-color: var(--bg3);
            color: var(--fg2);
            border: 2px solid var(--primary);

            svg {
                width: 1.5rem;
                height: 1.5rem;
            }



            &:disabled {
                scale: 0.9;
                border-color: transparent;
            }


        }


    }

    .tabs:not(:has(button:disabled)) {

        button:nth-child(3) {
            background-color: #d49139;
            color: #000000;

            &[data-selected="true"] {
                background-color: var(--accent);
                color: #d49139;
            }

        }

        button[data-selected="true"] {
            background-color: var(--accent);
            color: var(--on-accent);
        }

        button {
            border-color: transparent;
        }
    }
}

@media (max-width: 800px) {
    .title {
        display: none;
    }

    .tabs button svg {
        width: 1.8rem !important;
        height: 1.8rem !important;
    }
}

main:has(.app-ui) {
    height: 100%;
}